<!-- Game -->
<div id="game" class="row">
  <div class="col-xs-12">
    
    <header class="page-header text-center">
      <h1>
        <a href="/">
          Tower Of Hanoi
        </a>
      </h1>
    </header>

    <div class="towers row well"></div><!-- towers -->
      <%= erb :"tower", :locals => {:tower_number => towers.size, :tower => towers[0]} %>     
      <div class="form row">
        <div class="col-xs-6 col-xs-offset-3"></div>
  
      </div><!-- form -->
     
    
  </div>
</div><!-- game -->

